<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Promociones - Escentopia</title>
  <link rel="stylesheet" href="/static/css/stylespromociones.css">
  <link rel="manifest" href="/manifest.json">
  <!-- Enlace a Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
  <nav class="nav-bar">
    <button class="menu-button">&#9776;</button>
    <h1 class="logo">Promociones</h1>
    <a href="index.html" class="cart-button">&#8678; Volver</a>
  </nav>
  
  <main class="container">
      <div id="promociones-container" class="promociones-container"></div>
  </main>
  
  <script src="/static/js/promociones.js"></script>

</body>
</html>
